.homeContainer {
    background-color: lavender;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

img {
    width: 70%;
    height: 150px;
}

.header{
    background-color: skyblue;
    width: 70%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: ; */


}
